@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rgb {
    color: black;
    animation: infinite 4s linear rgb;
  }
  @keyframes rgb {
    0% {
      color: #4568dc;
    }
    50% {
      color: #b06ab3;
    }

    100% {
      color: #4568dc;
    }
  }
}
