@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rgb {
    color: black;
    animation: infinite 4s linear rgb;
  }
  @keyframes rgb {
    0% {
      color: #4568dc;
    }
    50% {
      color: #b06ab3;
    }

    100% {
      color: #4568dc;
    }
  }
  .bg-Trust {
    background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
  }
}
